
html, body {
  overflow-x: hidden;
  height: 100%;
  font-family: "Helvetica Neue", Roboto, Arial, sans-serif;
  background: powderblue; 
}

body {
  background: powderblue;
  padding: 0;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.1rem;
}

.header {
  display: inline-block;
  margin: auto;
  width: 100%;
  background: #3b5998;
  position: fixed;
  font-family: cursive, bold;
  padding-top: 10px;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  height: 50px!important;
  z-index: 10;
}

.header2 {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  background: powderblue;
  position: fixed;
  box-shadow: none;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 10px;
  
}
.main {
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 60px;
  background: powderblue;
}

.mainInner {
  display: table;
  text-align: left;
}

.mainInner div {
  display: table-cell;
  vertical-align: left;
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1.25px;
}

#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 250px;
  margin-top: 60px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: #e6ff99;
  overflow: auto;
}

.sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 1px solid;
  overflow: auto;
}

.sidebarMenuInner li {
  list-style: none;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid ;
}

.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: #000;
}

.sidebarMenuInner li a {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

input[type="checkbox"]:checked ~ #sidebarMenu { transform: translateX(0); }

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;

}

.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}



input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

h2 {
    font-family: cursive, bold ;
  }

h5{
  font-family: monospace, bold;
  background-color:#dbe8ac;
  font-size: 1.2rem;
  padding: 18px 18px 0px 18px ; /* top right bottom left */
  min-height: 40px;
  box-shadow: 8px 4px 3px ; 
}

h5:hover{
  background-color:#fbff8c;
  }

.slideshow-container {
  max-width: 1000px;
  position: auto;
  margin: 20px;
}

.mySlides {
    display: none;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #333333;
  opacity: 0.8;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -moz-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-name: fade;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.mydocwebsite-nav {
    position: relative;
    padding: 1rem;
    display: inline-block;
  }

  .home-link {
    font-weight: bold;
  }  
.mydocwrapper {
    width: 400px;
    font-family: cursive, bold ;
    height: inherit ;
    position: relative;
    background: powderblue;
  }

.mydoc-container {
  max-width: 800px;
  margin: auto;
  background-color: #555;
  height: 0px;
  color: white;
  border-radius: 10px;
}

.active {
  background-color: inherit;
  color: white;
}

.container {
    display: block;
    cursor: pointer;
}

@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

  @media (min-height: 500px) and (min-width: 700px) {
    .message {
      padding: 0;
      width: 50%;
      left: calc(50vw - 5rem);
      top: calc(15vh - 5rem);
    }
/* Style the tab */
.tab {
    float: left;
    border: 1px solid blue;
    background-color: #f2f2f2;
    width: 20%;
    height: inherit;
}

 hr.myhr { border: solid #fff; border-width: 1px 0 0; clear: both; margin: 22px 0 21px; height: 0; }
 
 .mylink , a.mylink {
    cursor: pointer; 
    box-shadow: 6px 6px 5px;
    -webkit-box-shadow: 6px 6px 5px #999;
    -moz-box-shadow: 6px 6px 5px #999;
    font-weight: bold; background: powderblue; color: #000; border-radius: 10px;
    border: 1px solid #999; font-size: 1.1rem;
    text-decoration: none;  
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: darkblue;
    padding: 12px 12px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.5s;
}
 
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}
/* Paragraph text styles */
p.a {color: blue;  font-family: sans-serif;font-size: 85%;}
p.b {color: black;  font-family: sans-serif;font-size: 75%;}
p.c {color: black;  font-family: sans-serif;font-size: 75%; margin-bottom: 0cm;}
p   {color: blue;  font-family: sans-serif;font-size: 75%;}
/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: none;
    background-color: powderblue;
    width: 75%;
    border-left: none;
    height: 500px;
} 


.burgarsidenav {height: 100%;width: 0;position: fixed;z-index: 1;top: 1;left: 0;
        background-color: #e6ff99;overflow-x: hidden;transition: .8s;padding-top: 25px;}
.burgarsidenav a {padding: 5px 0px 5px 0px;text-decoration: none;font-size: 16px;color: black;display:inline-block;transition: .5s;}
.burgarsidenav a:hover {color: #f1f1f1;}
.burgarsidenav .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px;}
}

.mydocnav {
  background-color: #fff;
  overflow: hidden;

    } 

a.mydocnav {
     cursor: pointer;
    box-shadow: 6px 6px 5px; 
    -webkit-box-shadow: 6px 6px 5px #999;
    -moz-box-shadow: 6px 6px 5px #999;
    font-weight: bold;
    background: powderblue;
    color: #000;
    border-radius: 10px;
    border: 1px solid #999; 
    font-size: 100%;
    text-decoration: none;
   
  }
  
 a.mydocnavactive {
    cursor: pointer;
    box-shadow: 6px 6px 5px; 
    -webkit-box-shadow: 6px 6px 5px #999;
    -moz-box-shadow: 6px 6px 5px #999;
    font-weight: bold; 
    background: powderblue; 
    color: #000; 
    border-radius: 10px;
    border: 1px solid #999; 
    text-decoration: none;
    margin:5%;
  }
  
  .mydoccontent {
    font-family:monospace, monospace;
    padding: 5% 5%;
    border: none;
    background-color: #f3ffe4;
    
} 

pre { 
    white-space: pre-wrap; 
    background: #f5ffa4 ; 
    color: #330000; 
    display: inline-block;
    border: 1px solid #f2f2f2; 
    text-align:left;
     }

.pnnav {
    font-family: cursive ;
    display: inline-block;
    font-weight: bold; 
    background: powderblue; 
    border-radius: 100px;
    border: 2px solid #999; 
    font-size: 1.1rem;
    text-decoration: none;  
    padding: 2px; 
}

.mlink{
  height: 220px;
  color: black;
}

.mlink:hover{
  color:blue;
  }
  
footer , mydocfooter {
  font-family: monospace;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #fff;
  font-size:1rem;
}

mark {
  background-color: #ADFF2F;
  color: blue;
}